tensorflow-gpu==2.4.2
tensorflow-estimator==2.3.0
tensorflow-probability==0.13.0
gym==0.17.3
chainerrl==0.8.0
tqdm==4.51.0
cpprb==9.3.2
opencv-python==4.4.0.46
PyYAML==5.4
wandb>=0.10.9
minerl==0.2.9
